/* Palet Warna*/
        :root {
            --primary-color: #795548;
            --secondary-color: #D84315;
            --dark-color: #5D4037;
            --light-bg-color: #F5F5F5;
        }

        * {
            font-family: 'Poppins', sans-serif;
        }

        .navbar-brand {
            font-weight: 700;
            color: var(--dark-color) !important;
            font-size: 1.5rem;
        }
        
        .nav-link {
            font-weight: 500;
            color: var(--dark-color) !important;
            position: relative;
            padding-bottom: 5px;
            transition: color 0.3s ease;
        }
        
        .nav-link::after {
            content: '';
            position: absolute;
            width: 0;
            height: 2px;
            bottom: 0;
            left: 0;
            background-color: var(--secondary-color);
            transition: width 0.3s ease-in-out;
        }

        .nav-link:hover::after,
        .nav-link.active::after {
            width: 100%;
        }

        .nav-link:hover,
        .nav-link.active {
            color: var(--secondary-color) !important;
        }
        
        .section-title {
            border-left: 5px solid var(--secondary-color); 
            padding-left: 15px;
            margin: 40px 0 20px 0;
            font-weight: 600;
            color: var(--dark-color);
        }
        
        
        .gallery-img {
            height: 250px;
            object-fit: cover;
            transition: transform 0.3s ease;
        }
        .gallery-img:hover {
            transform: scale(1.05);
        }
        
        .card {
            border: none;
            box-shadow: 0 4px 12px rgba(0,0,0,0.1); 
            overflow: hidden;
            border-radius: 8px;
        }

        .card.video-card .card-body {
            padding: 0;
        }

        .card-body a {
            color: var(--primary-color);
            font-weight: 500;
            text-decoration: none;
        }
        .card-body a:hover {
            color: var(--secondary-color);
        }
        